<div id="about">
  <h1>All About Me</h1>
  <div class="col col-5">
    <label>Who I am</label>
    <p>
      My name is Nathan and I'm passionate about programming, design, spoken languages, and music. I'm currently living in Tokyo, Japan.
    </p><p>
      You can find my personal website <a href="https://nathanwillson.com">here.</a>
    </p>
  </div><div class="col col-5">
    <label>What I want</label>
    <p>
      I want to become a developer, but more importantly a good developer-- fine, a great one. I'm looking for full stack opportunities in web or app development.</p>
    <p>I want to build things.</p>
    <p>I want to be a leader.</p>
  </div>
</div>
