<div id="education">
  <h1>Language Qualifications</h1>
  <ul class="basic">
    <li>
      <b>English</b>: Native.
    </li>
    <li>
      <b>Japanese</b>: Conversation-Business level. Passed the JLPT N3 in June of 2019 and will write the JLPT N2 in June of 2020. Recently finished a year of business Japanese school.
    </li>
    <li>
      <b>French</b>: Basic intermediate-level conversation.
    </li>
    <li>
      <b>German</b>: Beginner german.
    </li>
  </ul>
  <ul class="none items">
    {{ range .Data.Pages }}
      {{ if eq .Type "language" }}
        {{ partial "language" . }}
      {{ end }}
    {{ end }}
  </ul>
</div>
